
html, body {
  background: rgb(97,21,90);
  background: linear-gradient(0deg, rgb(29, 4, 26) 0%, rgba(0,0,0,1) 100%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: auto; /* Allow scrolling */
  -ms-overflow-style: none; /* Hide scrollbar on IE/Edge */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
  /* height: 100%; */
  /* width: 100%; */
  /* padding: 0; */
  /* margin: 0; */
  
}

.App {
  color: white;
}

