
 /* DESKTOP */
@media (min-width: 768px) {
.CircuitsMainBox{ 
    height: 100vh;
    color: aliceblue;
    font-size: 1.3vw;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 2.5%;
  }
  .dateTd {
    font-size: 1.1vw;
    font-style:   italic;
    color: rgb(154, 150, 150);
  }

  .CircuitsMainBox table  {
    max-height: 70vh;
    overflow-y: auto; 
    display: block;
  }
  .circuit_results table {
    border: 1px solid rgba(255,255,255,.08);
  }

    .CircuitsMainBox table {
    /* height: 80vh; */
    border-radius: 10px;
    padding: 10px;   
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
  }
  .CircuitsMainBox table td {
    padding: 0;
  }
  .baseBtn.active {
    background-color: #35025f;
    color: white;
  }

  .baseBtn {
    background-color: transparent;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    color: inherit;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1.2vw;
    padding:4px 10px;    
  }

.CircuitsMainBox img {
  border-radius: 20%;
  width: 2.5vw;
  height: 1.5vw;
  padding-right: 10px;
  padding-left: 10px;
}
.past-date {
  color: rgba(223, 43, 43, 0.758);
  text-decoration: line-through;
}

}
 .circuit_results table  {
  width: 100%;
  text-align: center;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* background: wheat; */
}
.circuit_latest_results .circuit_history {
  width: 100%;
  /* background: #24242567;; */
  /* background: green; */
}

@media (max-width: 768px) {

  .CircuitsMainBox {
    display: flex;
    flex-direction: column;
    color: aliceblue;
  }



  .circuitsListBox  {
    width: 90%;
    margin-left: 5%;
    border: 1px solid white;
    border-radius: 5%;
    font-size: 5vw;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .baseBtn {
    background-color: transparent;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    color: inherit;
    cursor: pointer;
    font-size: 5vw;
    text-align: center;
    border-radius: 10px;
    padding:4px 10px;
  }

  .circuit_results table {
    border: 1px solid white;
    border-radius: 5%;
  }

  .circuit_latest_results {
    margin-left: 10%;
    margin-top: 5%;
  }

  .circuit_history {
    margin-left: 5%;
  }
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #35025f #24242567;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #24242567;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #35025f;
    border-radius: 14px;
    border: 7px groove #24242567;
  }