@media (max-width: 768px) {

  .CircuitsMainBox {
    /* font-size: 5vw;  */
    display: flex;
    flex-direction: column;
    /* width: 100%;   */
  }

  .baseBtn {
    background-color: transparent;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    color: inherit;
    cursor: pointer;
    font-size: 5vw;
    text-align: center;
    border-radius: 10px;
    padding:4px 10px;
  }

  .circuitsListBox  {
    width: 90%;
    /* padding: 5px; */
    margin-left: 5%;
    border: 1px solid white;
    border-radius: 5%;
    font-size: 5vw;
    max-height: 300px;
  
    /* max-height: 200px; */
    overflow-y: auto;
  }
  
  .date-td {
    display: none;
  }

  .circuit_results table {
    border: 1px solid white;
    border-radius: 5%;
  }

  .circuit_latest_results {
    margin-left: 10%;
    margin-top: 5%;
  }

  .circuit_history {
    margin-left: 5%;
  }
}
@media (min-width: 768px) {
.CircuitsMainBox{ 
    font-size: 1.5vw;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 2.5%;
  }
  

  .circuit_results table {
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
  }
  
  .CircuitsMainBox table {
    border-radius: 10px;
    padding: 10px;   
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;

  }


  .baseBtn {
    background-color: transparent;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    color: inherit;
    cursor: pointer;
    font-size: 1vw;
    text-align: center;
    /* border-radius: 10px; */
    padding:4px 10px;
  }

.CircuitsMainBox img {
  border-radius: 5px;
}
.past-date {
  color: rgba(223, 43, 43, 0.758);
  text-decoration: line-through;
}

}

