/* MOBILE */
@media (max-width: 762px) {
  .constructorsMainBox img {
    border-radius: 20%;
    width: 2.5vw;
    height: 1.5vw;
    padding-right: 10px;
    padding-left: 10px;
  }
  .constructorsMainBox {
    font-size: 5vw; 
    display: flex;
    flex-direction: column;
    /* width: 90%; */
  }
  .Constructors-ChartBox { 
    display: none;
  }

  .constructorsStandignsBox,
  .Constructors-ChartBox,
  .DonutChartBox,
  .AveragePointsPerRaceForDriver {
    width: 90%; 
    /* margin-left: 7.5%; */
    margin-left: 5%;
    
  }
  .constructorsStandignsBox table {
    margin-left: 5%;
    border-collapse: collapse; 
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    
  }
  
  .constructorsStandignsBox table  td {
    padding: 5px;
    /* border-radius: 10%; */
    border: 0;
    
}
  

}


/* DESKTOP */
@media (min-width: 762px) {
  .constructorsMainBox img {
    border-radius: 20%;
    width: 3.5vw;
    height: 1.5vw;
  }
  .constructorsMainBox {
    font-size: 1.3vw;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 2.5%;
    }


  .constructorsStandignsBox {
    margin-top: 2.5%;
    width: 30%;
    overflow-y: auto;
    border-radius: 2.5%;
    max-height: 52%;
    color: rgb(204, 202, 202);
  }
  .constructorsStandignsBox table {
    border-collapse: collapse;
    width: 100%;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    border-radius: 24px; 
    overflow: hidden;  
  }
  



  .Constructors-ChartBox {
    width: 50%;
    height: 50%;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    padding: 20px;  
  }


  .DonutChartBox{
    
    width: 30%;
    height: 52%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
    padding: 20px;  
    /* margin-top: 5%; */
  }

  .AveragePointsPerRaceForDriver {
    width: 50%;
    height: 42%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;  padding: 20px;  
    /* margin-top: 5%; */
  }

}
