/* MOBILE */
@media (max-width: 762px) {
  .constructorsMainBox {
    font-size: 5vw; 
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .constructorsStandignsBox,
  .Constructors-ChartBox,
  .DonutChartBox,
  .AveragePointsPerRaceForDriver {
    width: 100%; 
    margin: 5%;
  }
}
.constructorsStandignsBox {
  margin: 5%;
}

/* DESKTOP */
@media (min-width: 762px) {
  .constructorsMainBox {
    font-size: 1.3vw;
    width: 90%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 2.5%;
    }


  .constructorsStandignsBox {
    width: 30%;
    overflow-y: auto;
    max-height: 55%;
    height: 557px;
    border-radius: 24px;
  }
  .constructorsStandignsBox table {
    width: 100%;
  }



  .Constructors-ChartBox {
    width: 50%;
    height: 50%;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    padding: 20px;  
  }
  .DonutChartBox{
    
    width: 30%;
    height: 52%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
    padding: 20px;  
    margin-top: 5%;
  }

  .AveragePointsPerRaceForDriver {
    width: 50%;
    height: 42%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;  padding: 20px;  
    margin-top: 5%;
  }

}