.constructorsMain {
    font-size: 1.3vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 5%;
    gap: 2.5%;

  }


.driversTable {
  /* width: 30%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  max-height: 60%;
  border: 1px solid white;
  /* border-radius: 2.5%; */
  /* padding: 2%; */
  overflow: auto; 
  width: 20%;
}


.driversTable table  td {
  border-top: 2px solid white;
  padding: 10px;
  border: 2px solid white;
}

.driversTable img {
  border-radius: 10%;
}

.Constructors-ChartBox {
    width: 60%;
    height: 60%;
    border: 1px solid;
}


