/* MOBILE */
@media (max-width: 762px) {
.countDownBox {
  width: 100%;
}
.mainDashboardBox {
    font-size:1.1rem;
    display: flex;
    align-items: center;
    flex-direction: column ;
  }
  .PrevAndNextRaceBox {
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 2.5%; */
    color: #fcf9f9;
  }
  .PrevAndNextRaceBox h3 {
    text-align: center;
    font-size: 5vw;
    /* padding: 5px; */
    margin: 5px;
  }
  .PrevAndNextRaceBox h2 {
    /* text-align: center; */
    font-size: 7vw;
  }
  .lastRaceInsideBox h2 {
    margin: 0;
  }


  
  .lastRaceInsideBox table {
    width: 100%;
    border: 1px solid white;
    border-radius: 5%;
  }

  .dropdown select {
    background: #2b2929d4;
    border: 1px solid rgba(255,255,255,.08);
    color: white;
    padding:  8px 4px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    /* font-family: monospace; */
  }
  
  .dropdown {
    /* display: inline-block; */
    align-items: center;
    margin-left: 7.5%;
  }
  .donationBox {
    display: none;
  }
}

/* DESKTOP */
@media (min-width: 762px) {
.mainDashboardBox {
  font-size:1.35vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column ;
    background-repeat: no-repeat;
    background-size: cover;
  }

.RaceBoxesParent {
  /* border-radius: 5%; */
  width: 100%;
  /* min-height: 45%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;  */
}
.PrevAndNextRaceBox {
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  width: 35%;
  min-height: 40vh;
  margin: 2%;
  color: #a9a9a9;
  background: #0f0f0f96;
  border: 1px solid rgba(255,255,255,.08);
}
.PrevAndNextRaceBox h2 {
  color: white;
}


.lastRaceInsideBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; 
}
.lastRaceInsideBox h2 {
  margin: 0;
  padding: 0;
}
.lastRaceInsideBox table td {
  padding: 5px;
  text-align:justify;
}

.lastRaceInsideBox table {
  border-radius: 2%;
  width: 100%;
}

  .driver_info_box {
    font-size: 24px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }


  .countDownBox {
    overflow: hidden;
  }


.lastRace_top3_box {
  display: flex;
  justify-content: center;

}
.lastRace_top3_box table {
  border: 2px solid rgb(43, 38, 38);
  border-radius: 2%;
  width: 80%;
}

.nextRaceBoxInside {
  text-align: center;
}
.racetime {
  color: whitesmoke;
  text-shadow: 2px 2px 6px rgba(237, 18, 18, 0.877);
  /* padding: 5px; */
  /* margin: 25px; */
}
.racedate {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgba(7, 78, 5, 0.878);
}
.poduimDrivers {
  color: rgba(255, 255, 255, 0.618);
  text-shadow: 2px 2px 2px rgba(19, 105, 16, 0.878);
  font-weight: 700;
}












.donationBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 15%;
  border-radius: 2%;

}




#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border-radius: 10%;
  background-color: #000000;
}

#style-1::-webkit-scrollbar
{
  border-radius: 15px;
  
  width: 12px;
  background-color: #030202;
  
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(251, 253, 253, 0.116);
}
#style-1 {
  /* overflow: hidden; */
  scrollbar-color: rgba(74, 80, 80, 0.411) #030202;
  scrollbar-width: thin;
}


.dropdown select {
  background: #000000;
  border: 1px solid rgba(255,255,255,.08);
  color: white;
  padding:  10px 16px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: monospace;
}

.dropdown {
  display: inline-block;
}

}


.button-85 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: 0.2em 1em;
  border: none;
  font-size: x-large;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #a6ff00,
    #cae30c,
    #c6e30a,
    #6f06c4
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222222;
  /* left: 0; */
  padding: 2.5px;
  /* top: 0; */
  border-radius: 10px;
}

.country-flag {
  margin-left: 20px;
}