
  /* navbar.css */

.navbar {
  /* background-color: #333; */
  /* color: #fff; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 98%;
  padding: 15px;
  position: absolute;
  /* left: 35%; */
}

.navbar-menu {
  list-style: none;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* padding: 0; */
  margin: 0;
}

.navbar-menu li {
  margin-right: 40px;
}


.navbar-menu li button {
  background-color: transparent;
  color: inherit;
  border: 0;
  cursor: pointer;
  font-family: monospace;
  font-size: 40px;
  padding: 10px;
}

.navbar-menu li button:hover {
  /* text-decoration: underline; */
  color: red;

}

