
.navbar {

  display: flex;
  justify-content: center;
  width: 98%;
  padding: 15px;
  position: absolute;
}

.navbar-menu {
  list-style: none;
  display: flex;

  margin: 0;
}

.navbar-menu li {
  margin-right: 40px;
}


.navbar-menu li button {
  background-color: transparent;
  color: inherit;
  border: 0;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.6rem;
  padding: 10px;
  color: grey;
}


.navbar-menu li button:hover {
  /* text-decoration: underline; */
  color: white;

}

