/* MOBILE */
@media (max-width: 762px) {
    .RacesMainBox { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .RacesDropdown {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
      }
      .RacesDropdown h3 {
        font-size: 2rem;
        margin: 2.5%;
        text-align: center;
    }
    .RacesDropdown select {
      text-align: center;
      background: #000000;
      border: 1px solid white;
      color: white;
      font-size: 2rem;
      border-radius: 10px;
      cursor: pointer;
      appearance: none; 
      -webkit-appearance: none;
      -moz-appearance: none;
      font-family: monospace;
      margin: 0;
    }
    .RaceResultsBox,
    .RacePaceBox,
    .QualyQ3GapBox {
        width: 100%;
    }    
/* HIDE RACE PACE IN MOBILE */
    .RacePaceBox {
      display: none;
    }

    .RaceResultsBox table {
      width: 90%;
      margin-left: 5%;
      font-size: 1.3rem;
      border-collapse: collapse; 
      font-weight: 700;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }
    .RaceResultsBox th  {
      font-size: 2rem;
      padding: 5px;
    }

}

/* DESKTOP */
@media (min-width: 762px) {

.RacesMainBox { 
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 2%;
    gap: 2.5%;
  }

.RacesDropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5%;
  }
.RacesDropdown h3 {
  font-size: 2.5rem;
  margin: 0;
  padding-top: 10px;
}

.RacesDropdown select {
  margin-left: 5%;
  background: #000000;
  border: 1px solid white;
  color: white;
  text-align: center;
  padding:  10px 16px;
  font-size: 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: monospace;
}


.RaceResultsBox {
    margin: 10px;
    width: 40%;
    height: 52%;
    font-size: 2.5rem;    
  }
  
  
  
  .RaceResultsBox table {
    width: 100%;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
    
    background: #24242567;
    border-collapse: collapse; 
    font-weight: 700;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.833);
  }
  

.RacePaceBox {
    width: 40%;
    height: 52%;
    padding: 15px;   
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
}

.QualyResultBox {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 52%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
    padding: 10px;  
}
.QualyQ3GapBox {
    width: 40%;
    height: 52.5%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
    padding: 15px;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;   
}



/* .AverageRaceLapGapToFastest {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 42.5%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;

}

.RaceTeamateGapBasedOnAverageLap {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 42.5%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
} */
.past-date {
    color: rgba(223, 43, 43, 0.758);
  }

}