/* MOBILE */
@media (max-width: 762px) {
    .RacesMainBox { 
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      .RacesDropdown {
        display: flex;
        flex-direction: column;
        /* margin-bottom: 5%; */
      }
      .RacesDropdown h3 {
        font-size: 1.5rem;
        margin: 2.5%;
        text-align: center;
    }
    .RacesDropdown select {
      text-align: center;
      background: #000000;
      border: 1px solid white;
      color: white;
      font-size: 1.5rem;
      border-radius: 10px;
      cursor: pointer;
      appearance: none; 
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;
    }
    .RaceResultsBox,
    .RacePaceBox,
    .QualyQ3GapBox {
        width: 100%;
    }    
/* HIDE RACE PACE IN MOBILE */
    .RacePaceBox {
      display: none;
    }
    .RaceResultsBox th  {
      font-size: 1.5rem;
      padding: 5px;
    }
    .RaceResultsBox table {
      width: 90%;
      margin-left: 5%;
      font-size: 1.2rem;
      border-collapse: collapse; 
      font-weight: 700;
      text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }


}

/* DESKTOP */
@media (min-width: 762px) {

.RacesMainBox { 
  font-size: 1.3vw;
  width: 90%;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 5%;
  gap: 5%;

  }

.RacesDropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5%;
  }
.RacesDropdown h3 {
  font-size: 1.7rem;
  font-style: italic;
  margin: 0;
  padding-top: 10px;
}

.RacesDropdown select {
  margin-left: 5%;
  background: #000000;
  border: 1px solid white;
  color: white;
  text-align: center;
  padding:  10px 16px;
  font-size: 1.7rem;
  border-radius: 10px;
  cursor: pointer;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}


.RaceResultsBox {
    font-weight: 600;
    width: 30%;
    overflow-y: auto;
    border-radius: 24px;
    height:50vh;

    color: rgb(205, 199, 199);
     /* background-color: #1e1e1e;   */
  }
  

  .RaceResultsBox table {
    border-collapse: collapse;
    width: 100%;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    border-radius: 24px; 
    overflow: hidden;  
  }
  

.RacePaceBox {
    width: 42%;
    height: 40vh;
    padding: 5px;   
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;
}

.QualyResultBox {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 43%;
    height: 52%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
    padding: 10px;  
}
.QualyQ3GapBox {
  width: 42%;
  height: 40vh;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
    padding: 15px;
    background: #24242567;
    border: 1px solid rgba(255,255,255,.08);
    border-radius: 24px;   
}



/* .AverageRaceLapGapToFastest {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 42.5%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;

}

.RaceTeamateGapBasedOnAverageLap {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 42.5%;
    border: 2px solid rgb(43, 38, 38);
    border-radius: 2.5%;
} */
.past-date {
    color: rgba(223, 43, 43, 0.758);
  }

}