#red_bull {
    background-color: #0a208d;
  }
  
  
  #ferrari {
    background-color: #ca0b0b;
  }
  
  #mercedes {
    background-color: #0af1e5d4;
  }
  
  #williams {
    background-color: #2a98ed;
  }
  
  #alfa {
    background-color: #760909;
  }
  
  #mclaren {
    background-color: #ff8000e2;
  }
  
  #haas {
    background-color: #9f9e9e;
  }
  
  #aston_martin {
    background-color: #066945;
  }
  
  #alphatauri {
    background-color: #334396;
  }
  
  #alpine {
    background-color: #2263e6;
  }